body {
	background-image: url('/img/bg.jpg');
	background-position: top right;
	background-size: 100%;
	margin: 0 auto;
	text-align: center;
}


header {
	h1 {
    	font-size: 26px;
    	font-weight: bold;
	}
	h2 {
		font-size: 20px;
		font-weight: bold;
	}
	p { font-size: 12px;
		a { text-decoration: none;
			&:hover { border-width: 1px }
		}
	}
}


.clear {
	clear: both;
}


.slots {
	margin-right: auto;
	margin-left: auto;
	list-style: none;
	width: 500px;
	height: 150px;
	.slot {
		float: left;
		width: 150px;
		height: 150px;
	}
}
#machine{
	background-image: url('/img/machines.png')
}

#filter{
	background-image: url('/img/filters.png')
}

#material{
	background-image: url('/img/materials.png')
}

#play {
	margin: auto;
}